# Ignorar carpetas de proyectos que no deben subirse
tp/

# Ignorar archivo de pruebas
pruebas.c
tempCodeRunnerFile.c

# Ignorar carpetas de compilación y binarios
bin/
obj/
*.o
*.exe
*.dll
*.so
*.dylib

# Ignorar archivos generados por CodeBlocks (opcional)
*.depend
*.layout
*.cbp

# Ignorar librerías estáticas compiladas
*.a
*.lib

# Ignorar archivos de configuración de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Ignorar carpetas ocultas de sistemas operativos
.cache/
.idea/
.vscode/

# Ignorar archivos de texto
*.txt

# Excepción para la carpeta proyecto-juego-de-la-vida
!proyecto-juego-de-la-vida/
!proyecto-juego-de-la-vida/SDL2/
!proyecto-juego-de-la-vida/SDL2/**
!proyecto-juego-de-la-vida/SDL2.dll
!proyecto-juego-de-la-vida/TP_Conway_template.cbp
!proyecto-juego-de-la-vida/TP_Conway_template.depend
!proyecto-juego-de-la-vida/TP_Conway_template.layout

# Excepción para la carpeta modelos-de-parcial
!modelos-de-parcial/sensores-temperatura/*.txt
!modelos-de-parcial/sensores-temperatura/*.cbp